*,
*::before,
*::after {
	box-sizing: border-box;
}


body {
	margin: 0;
}

main {
	display: block;
  margin: 0;
}

body {
  font-family: $heading-font;
  color: $font;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

p, ul, a, li, span{
  font-family: $heading-font;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}